  <%= link_to "Back to All Flats", flats_path %>

<div class="card bg-light mb-3 my-4">
  <div class="card-body">
    <h3 class="card-title"><%= @flat.name %></h3>
    <p class="card-text"><%= @flat.address %></p>
  </div>
</div>
<div class="card bg-light mb-3 my-4">
  <div class="card-body">
    <h5 class="card-title">A bit more about this flat</h5>
    <p class="card-text"><%= @flat.address %></p>
  </div>
</div>
<div class="card bg-light mb-3 my-4 ">
  <div class="card-body ">
    <h5 class="card-title">Details</h5>
    <div class="d-flex justify-content-start mb-0" >
      <p class="card-text"><i class="fa-solid fa-euro-sign"> </i> <%= @flat.price_per_night %>.00</p>
      <p class="card-text mx-2"><i class="fa-solid fa-user-group"> </i> <%= @flat.number_of_guests %></p>    
    </div>
  </div>
</div>

